<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <!-- <test thread-count="2" name="DialogBox">
    <parameter name="endpoint" value="dialog-boxes/" />
    <classes>
      <class name="tests.DialogBoxTest"/>
    </classes>
  </test>  -->

  <!--<test thread-count="2" name="Accordions">
    <parameter name="endpoint" value="accordion-and-tabs/" />
    <classes>
      <class name="tests.AccordionTests"/>
    </classes>
  </test>   -->
  
  <test thread-count="2" name="Dropdown">
    <parameter name="endpoint" value="select-dropdown-menu/" />
    <classes>
      <class name="tests.DropDownTest"/>
    </classes>
  </test>
  
    <!--  <test thread-count="2" name="ProgressBar">
    <parameter name="endpoint" value="progress-bar/" />
    <classes>
      <class name="tests.ProgressBarTest"/>
    </classes>
  </test>-->
  
  <test thread-count="2" name="Sliders">
    <parameter name="endpoint" value="sliders/" />
    <classes>
      <class name="tests.SliderTest"/>
    </classes>
  </test>
  
  <test thread-count="2" name="Frames_Windows">
    <parameter name="endpoint" value="frames-and-windows/" />
    <classes>
      <class name="tests.TabsAndWindowsTest"/>
    </classes>
  </test>
  
  <test thread-count="2" name="Tooltip">
    <parameter name="endpoint" value="tooltip/" />
    <classes>
      <class name="tests.ToolTipTest"/>
    </classes>
  </test>
  
  <!-- <test thread-count="2" name="MultipleElements">
    <parameter name="endpoint" value="select-elements/" />
    <classes>
      <class name="tests.SelectElementsTest"/>
    </classes>
  </test> -->
  
  <test thread-count="2" name="Spinner">
    <parameter name="endpoint" value="spinner/" />
    <classes>
      <class name="tests.SpinnerTest"/>
    </classes>
  </test>
  
   <test thread-count="2" name="Sorting">
       <parameter name="endpoint" value="sorting/" />
    <classes>
      <class name="tests.SortableTest"/>
    </classes>
  </test>
  
 
  
  

  
  
</suite> <!-- Suite -->
